.searchBar input {
    width: 400px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #584fa2;
    font-style: italic;
    font-size: 22px;
    color: darkgray;
}

.searchBar button {
    height: 40px;
    border-radius: 4px;
    margin: 4px;
    background: #584fa2;
    color: #fff;
}

.searchBar .clearSearch {
    font-weight: bold;
    font-size: 19px;
    position: relative;
    right: 20px;
    font-family: cursive;
    cursor: default;
}